body
  // LIGHT THEME
  background-color: var(--color-white)
  color: var(--color-black)
  // DARK THEME
  //background-color: var(--color-bg-blue)
  //color: var(--color-txt-blue)

.layout
  display: grid
  grid-template-areas: "header header header" "aside-left main aside-right" "footer footer footer"
  grid-template-columns: 1fr 10fr 1fr
  grid-template-rows: 1fr 10fr 1fr
  height: calc(100vh - var(--vertical-padding) * 2)
  width: calc(100vw - var(--horizontal-padding) * 2)
  margin: 0 auto
  padding: var(--vertical-padding) var(--horizontal-padding)

header, footer
  align-items: center

header
  grid-area: header
  display: flex
.aside
  -left
    grid-area: aside-left
  -right
    grid-area: aside-right
main
  grid-area: main
  overflow-y: scroll
footer
  grid-area: footer
  display: flex

// NavLink button auto class
.active
  background-color: var(--color-gray-light)
  cursor: default

textarea
  resize: none