.header
  background-color: var(--color-gray-light)

.headerLayout
  width: 100%
  display: flex
  justify-content: space-between

.navigationList
  display: flex
  justify-content: space-between
  list-style: none

.navigationItem
  //margin-right: 10px

  &:last-child
    margin-right: 0
